@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@mixin image ($url){
    background-position: center;
    background-size: cover;
    background-image: url($url);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

/*#region header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .menu ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        li {
            padding: 20px 25px;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
                color: yellow;
            }
        }
    }
}

/*#endregion */

/*#region jumbotron */
.jumbotron {
    background-color: lightblue;
    background-image: url("../images/cover.png");
    background-position: center;
    background-size: cover;
    height: 763px;
    display: flex;
    align-items: center;
    justify-content: center;

    .slogan {
        text-align: center;

        h1 {
            color: #ed2024;
            font-family: 'Great Vibes', cursive;
            font-size: 80px;
            letter-spacing: 1px;
            text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff;
            margin: 0;
            padding: 20px;
        }

        h6 {
            text-transform: uppercase;
            color: white;
            font-size: 25px;
            letter-spacing: 4px;
        }
    }
}

/*#endregion */
/*#region reservation */

.reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;

    h3 {
        color: #f01b16;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 1.74px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0;

        span {
            font-family: 'Great Vibes', cursive;
            font-size: 50px;
            text-transform: capitalize;
        }
    }

    div {
        padding-bottom: 20px;
        max-width: 850px;
        flex-wrap: wrap;
        text-align: center;
        color: #9f9a97;
    }

    button {
        padding: 10px 20px;
        margin: 30px 20px;
        background-color: #ff7e66;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
}

/*#endregion */

/*#region cooking */

.cooking {
    display: flex;

    .cooking-image {
        background-image: url("../images/cook.png");
        background-position: bottom;
        background-size: cover;
        min-height: 750px;
        flex: 0 0 50%;
    }

    .cooking-description {
        display: flex;
        flex: 0 0 50%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 70px 0px;
        background-color: #fff2ed;
        justify-content: center;

        h3 {
            max-width: 364px;
            color: #ff7e66;
            font-weight: bold;
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin: 0;
        }

        img {
            margin: 40px;
        }

        div {
            width: 536px;
            height: 127px;
            color: #9f9a97;
            font-family: "Nanami - Lt";
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1.96px;
        }
    }
}

/*#endregion */
/*#region baking */
.baking {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 20px;

    h3 {
        color: #f01b16;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 1.74px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0;

        span {
            font-family: 'Great Vibes', cursive;
            font-size: 50px;
            text-transform: capitalize;
        }
    }

    div {
        padding-bottom: 20px;
        max-width: 800px;
        flex-wrap: wrap;
        text-align: center;
        color: #9f9a97;
    }

    button {
        padding: 10px 20px;
        margin: 30px 20px;
        background-color: #ff7e66;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
}

/*#endregion */

/*#region baking */
.cake {
    background-color: lightblue;
    background-image: url("../images/cake.png");
    background-position: center;
    background-size: cover;
    height: 763px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .cake-slogan {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 20%;

        h1 {
            color: #ed2024;
            font-family: 'Great Vibes', cursive;
            font-size: 80px;
            letter-spacing: 1px;
            text-transform: capitalize;
            text-shadow: 0 0 0.2em #ffffff, 0 0 0.2em #ffffff, 0 0 0.2em #ffffff;
            margin: 0;
            max-width: 400px;
        }

        div {
            width: 497px;
            height: 62px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 400;
        }

        h6 {
            letter-spacing: 4px;
            width: 152px;
            height: 48px;
            color: #ffffff;
            font-size: 50px;
            margin: 50px 0;
            font-weight: 400;
        }

        button {
            padding: 10px 20px;
            border: 2px solid #ffffff;
            border-radius: 2px;
            text-transform: uppercase;
            color: #ffffff;
            background-color: rgba($color: #ffffff, $alpha: 0);
        }
    }
}

/*#endregion */

/*#region services */

.services {
    display: flex;
    justify-content: center;
    text-align: center;

    .service-container {
        margin: 20px 50px;
        text-transform: capitalize;

        .img-container {
            height: 90px;
            margin: 20px;
        }

        span {
            margin: 20px;
        }
    }

    .separator {
        background-color: black;
        height: 100px;
        width: 2px;
        margin: 40px 50px;
    }
}

/*#region gallery */

.gallery {
    margin: 30px 0;
    .gallery-top {
        display: flex;
        height: 350px;
        .coffee {
            @include image ("../images/coffee.png");
            flex-basis: 25%;
        }
        .title-image {
            flex-basis: 25%;
            color: #ff7e66;
            text-transform: uppercase;
            background-color: #fff2ed;
            font-size: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            letter-spacing: 10px;


        }
        .cake-1 {
            flex-basis: 50%;
            @include image ("../images/cake-1.png");
            }
    }

    .gallery-bottom {
        height: 350px;
        display: flex;
        
        .cookies {
            flex-basis: 50%;
            @include image ("../images/cookies.png");
        }
        .croissant {
            flex-basis: 25%;
            @include image ("../images/croissant.png");
            padding:40px;
            display: flex;
            align-items: stretch;
            justify-content: center;
            div {
                background-color: rgba($color: #f01b16, $alpha: 0.7);
                width: 100%;
                display: flex;
                align-items: center;
                span {
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: bold;
                    letter-spacing: 2px;
                    font-size: 60px;
                    text-align: center;
                }
            }
        }
        .burger {
            flex-basis: 25%;
            @include image ("../images/burger.png");
        }
    }
}



/*#endregion */